#!/bin/bash

args='coreos.inst=yes '
args+='coreos.inst.install_dev=vda '
args+='coreos.inst.image_url=http://172.24.24.3:8080/pub/rhcos-42.80.20190828.2-metal-bios.raw.gz '
args+='coreos.inst.ignition_url=http://172.24.24.3:8080/pub/bootstrap.ign '
args+='ip=dhcp '
args+='rd.neednet=1'

sudo virt-install --location /var/lib/podcans/httpd/pub/rhcos-42.80.20190828.2-installer.iso --extra-args="${args}" --network network=ocp4 --name ocp4-bootstrap --memory 8096 --disk /var/lib/libvirt/images/ocp4-bootstrap.qcow2

exit 0
