#!/bin/bash

args='coreos.inst=yes '
args+='coreos.inst.install_dev=vda '
args+='coreos.inst.image_url=http://172.24.24.3:8080/pub/{{ coreos_metal_bios }} '
args+='coreos.inst.ignition_url=http://172.24.24.3:8080/pub/{{ vm_role }}.ign '
args+='ip=dhcp '
args+='rd.neednet=1'

virt-install --location {{ coreos_iso_extract_dir }} --extra-args="${args}" --network network={{ libvirt_network_name }},mac={{ vm_mac_address }},model=virtio --name {{ vm_instance_name }} --memory {{ vm_memory_size }} --disk {{ vm_instance_disk }} 

exit $?
