#!/bin/bash

args='coreos.inst=yes '
args+='coreos.inst.install_dev=vda '
args+='coreos.inst.image_url=http://172.24.24.3:8080/pub/rhcos-42.80.20190828.2-metal-bios.raw.gz '
args+='coreos.inst.ignition_url=http://172.24.24.3:8080/pub/bootstrap.ign '
args+='ip=dhcp '
args+='rd.neednet=1'

virt-install --location {{ downloaded_files_dir }}/{{ coreos_installer_iso }} --extra-args="${args}" --network network={{ libvirt_network_name }} --name {{ vm_instance_name }} --memory {{ vm_memory_size }} --disk {{ vm_instance_disk }}

exit $?
